In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import scipy
import pickle
import warnings
warnings.filterwarnings("ignore")

In [2]:
with open('for_streamlit/nlp_data.pkl','rb') as file:
    products = pickle.load(file)

In [3]:
reviews = pd.read_csv('ReviewRaw.csv')
products.shape, reviews.shape

((4370, 11), (364099, 8))

## ----------
### Products

In [4]:
products.head(3)

,item_id,name,description,rating,price,list_price,brand,group,label_group,new,new_wt
0,48102821,Tai nghe Bluetooth Inpods 12 - Cảm biến vân ta...,THÔNG TIN CHI TIẾT\nDung lượng pin 300\nThời g...,4.0,77000,300000,OEM,Thiết Bị Số - Phụ Kiện Số/Thiết Bị Âm Thanh và...,189,tai nghe bluetooth inpods cảm biến vân tay chố...,tai nghe bluetooth inpods cảm_biến vân tay chố...
1,52333193,Tai nghe bluetooth không dây F9 True wireless ...,THÔNG TIN CHI TIẾT\nDung lượng pin 2000mah\nTh...,4.5,132000,750000,OEM,Thiết Bị Số - Phụ Kiện Số/Thiết Bị Âm Thanh và...,189,tai nghe bluetooth không dây f true wireless d...,tai nghe bluetooth không dây f true wireless d...
2,299461,Chuột Không Dây Logitech M331 Silent - Hàng Ch...,THÔNG TIN CHI TIẾT\nThương hiệu Logitech\nĐộ p...,4.8,299000,399000,Logitech,Thiết Bị Số - Phụ Kiện Số/Phụ kiện máy tính và...,165,chuột không dây logitech m silent hàng chính h...,chuột không dây logitech m silent hàng chính h...

In [5]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4370 entries, 0 to 4369
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   item_id      4370 non-null   int64
 1   name         4370 non-null   object
 2   description  4370 non-null   object
 3   rating       4370 non-null   float64
 4   price        4370 non-null   int64
 5   list_price   4370 non-null   int64
 6   brand        4370 non-null   object
 7   group        4370 non-null   object
 8   label_group  4370 non-null   int64
 9   new          4370 non-null   object
 10  new_wt       4370 non-null   object
dtypes: float64(1), int64(4), object(6)
memory usage: 375.7+ KB

In [7]:
products.columns

Index(['item_id', 'name', 'description', 'rating', 'price', 'list_price',
       'brand', 'group', 'label_group', 'new', 'new_wt'],
      dtype='object')

In [8]:
products.drop_duplicates(inplace=True)

In [9]:
products.isna().sum()

item_id        0
name           0
description    0
rating         0
price          0
list_price     0
brand          0
group          0
label_group    0
new            0
new_wt         0
dtype: int64

In [10]:
products.isnull().sum()

item_id        0
name           0
description    0
rating         0
price          0
list_price     0
brand          0
group          0
label_group    0
new            0
new_wt         0
dtype: int64

### Reviews

In [11]:
reviews.head(3)

,customer_id,product_id,name,full_name,created_time,rating,title,content
0,709310,10001012,Lân Nguyễn Hoàng,Lân Nguyễn Hoàng,NaN,3,Ko dùng đc thẻ nhớ,Lúcđầu quên thông tin nên dùng 512gb thì ko đc...
1,10701688,10001012,Nguyễn Khánh Hòa,Nguyễn Khánh Hòa,NaN,5,Cực kì hài lòng,"Tiki giao hàng nhanh. Sản phẩm đúng như mô tả,..."
2,11763074,10001012,Toàn Phạm Khánh,Toàn Phạm Khánh,2019-04-17 15:42:45,5,Cực kì hài lòng,"chất lượng camera rõ nét, chống mưa nắng tuyệt..."

In [12]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364099 entries, 0 to 364098
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   customer_id   364099 non-null  int64
 1   product_id    364099 non-null  int64
 2   name          363669 non-null  object
 3   full_name     329471 non-null  object
 4   created_time  117340 non-null  object
 5   rating        364099 non-null  int64
 6   title         364070 non-null  object
 7   content       165794 non-null  object
dtypes: int64(3), object(5)
memory usage: 22.2+ MB

In [13]:
reviews.columns

Index(['customer_id', 'product_id', 'name', 'full_name', 'created_time',
       'rating', 'title', 'content'],
      dtype='object')

In [14]:
reviews = reviews[['customer_id', 'product_id', 'rating', 'title']]
reviews.drop_duplicates(inplace=True)

In [15]:
reviews.isna().sum()

customer_id     0
product_id      0
rating          0
title          29
dtype: int64

In [16]:
# with open('for_streamlit/reviews.pkl','wb') as file:
#     pickle.dump(reviews,file

## ----------

In [17]:
for col in list(products.columns):
    print('%s: %d' %(col,len(products[col].unique())))
    print()

item_id: 4370

name: 4327

description: 4370

rating: 33

price: 1782

list_price: 954

brand: 519

group: 248

label_group: 248

new: 4362

new_wt: 4362

In [18]:
products.describe().round(2).drop('item_id',axis=1)

        rating        price   list_price  label_group
count  4370.00      4370.00      4370.00      4370.00
mean      3.67   2764025.27   3894278.07       132.37
std       1.80   5545780.84   7903281.13        73.73
min       0.00      7000.00     12000.00         0.00
25%       3.80    150000.00    279000.00        67.00
50%       4.50    486500.50    790000.00       137.00
75%       4.80   2679000.00   3590000.00       204.00
max       5.00  62690000.00  82990000.00       247.00

In [19]:
for col in list(reviews.columns):
    print('%s: %d' %(col,len(reviews[col].unique())))
    print()

customer_id: 251491

product_id: 4218

rating: 5

title: 27481

In [20]:
reviews[['rating']].describe().round(2)

          rating
count  360340.00
mean        4.47
std         1.02
min         1.00
25%         4.00
50%         5.00
75%         5.00
max         5.00

In [21]:
# Nhận xét: Khách hàng chủ yếu đánh giá sản phẩm ở mức tốt

# ----------
## merge df

In [22]:
reviews.shape,reviews.columns

((360340, 4),
 Index(['customer_id', 'product_id', 'rating', 'title'], dtype='object'))

In [23]:
products.shape,products.columns

((4370, 11),
 Index(['item_id', 'name', 'description', 'rating', 'price', 'list_price',
        'brand', 'group', 'label_group', 'new', 'new_wt'],
       dtype='object'))

In [24]:
products['product_id'] = products['item_id']

In [25]:
data = reviews.merge(products,how='left',on='product_id')
data.drop('item_id',axis=1,inplace=True)

print(data.shape)
data.head(2)

(360340, 14)

,customer_id,product_id,rating_x,title,name,description,rating_y,price,list_price,brand,group,label_group,new,new_wt
0,709310,10001012,3,Ko dùng đc thẻ nhớ,Camera IP Wifi Ngoài Trời Ezviz CS-CV310 720P ...,THÔNG TIN CHI TIẾT\nThương hiệu EZVIZ\nKích th...,5.0,789000.0,1746000.0,Ezviz,Máy Ảnh - Máy Quay Phim/Camera Giám Sát/Camera IP,67.0,camera ip wifi ngoài trời ezviz cscv p hàng ch...,camera ip wifi ngoài_trời ezviz cscv p hàng ch...
1,10701688,10001012,5,Cực kì hài lòng,Camera IP Wifi Ngoài Trời Ezviz CS-CV310 720P ...,THÔNG TIN CHI TIẾT\nThương hiệu EZVIZ\nKích th...,5.0,789000.0,1746000.0,Ezviz,Máy Ảnh - Máy Quay Phim/Camera Giám Sát/Camera IP,67.0,camera ip wifi ngoài trời ezviz cscv p hàng ch...,camera ip wifi ngoài_trời ezviz cscv p hàng ch...

In [26]:
data.columns

Index(['customer_id', 'product_id', 'rating_x', 'title', 'name', 'description',
       'rating_y', 'price', 'list_price', 'brand', 'group', 'label_group',
       'new', 'new_wt'],
      dtype='object')

In [27]:
df = data[['customer_id','product_id','rating_x','name','list_price','brand','group']]
df.columns = ['customer','product','rating','name','price','brand','group']
df.head()

,customer,product,rating,name,price,brand,group
0,709310,10001012,3,Camera IP Wifi Ngoài Trời Ezviz CS-CV310 720P ...,1746000.0,Ezviz,Máy Ảnh - Máy Quay Phim/Camera Giám Sát/Camera IP
1,10701688,10001012,5,Camera IP Wifi Ngoài Trời Ezviz CS-CV310 720P ...,1746000.0,Ezviz,Máy Ảnh - Máy Quay Phim/Camera Giám Sát/Camera IP
2,11763074,10001012,5,Camera IP Wifi Ngoài Trời Ezviz CS-CV310 720P ...,1746000.0,Ezviz,Máy Ảnh - Máy Quay Phim/Camera Giám Sát/Camera IP
3,9909549,10001012,5,Camera IP Wifi Ngoài Trời Ezviz CS-CV310 720P ...,1746000.0,Ezviz,Máy Ảnh - Máy Quay Phim/Camera Giám Sát/Camera IP
4,1827148,10001012,5,Camera IP Wifi Ngoài Trời Ezviz CS-CV310 720P ...,1746000.0,Ezviz,Máy Ảnh - Máy Quay Phim/Camera Giám Sát/Camera IP

# ----------
### Products - brand

In [28]:
df_brand = products.groupby('brand').agg({
    'rating':['mean','std'],
    'price':['mean','std'],
    'list_price':['mean','std','count']
}).round(2)
df_brand.columns = ['rating_mean','rating_std','price_mean','price_std',
                    'listprice_mean','listprice_std','items']

df_brand['%count'] = round((df_brand['items']/df_brand['items'].sum())*100, 2)
df_brand

,rating_mean,rating_std,price_mean,price_std,listprice_mean,listprice_std,items,%count
brand,,,,,,,,
BUBM,4.55,0.21,129500.00,21920.31,137500.0,24748.74,2,0.05
Casper,4.85,0.19,6197000.00,1311595.21,11445000.0,3157430.39,4,0.09
CoolerMaster,4.82,0.21,4494500.00,5921156.45,5234750.0,6529363.69,4,0.09
Energizer,4.85,0.07,532500.00,45961.94,850000.0,70710.68,2,0.05
FUJIFILM,5.00,NaN,209000.00,NaN,490000.0,NaN,1,0.02
...,...,...,...,...,...,...,...,...
hohem,5.00,NaN,1290000.00,NaN,1491000.0,NaN,1,0.02
ipass,2.00,NaN,980000.00,NaN,1500000.0,NaN,1,0.02
new vision,4.73,0.25,259737.00,176587.05,595000.0,320368.54,3,0.07
vivan,4.63,0.15,202333.33,104083.30,550000.0,313249.10,3,0.07
xMOWI,4.60,NaN,169000.00,NaN,200000.0,NaN,1,0.02

In [51]:
df_brand.sort_values(['items','rating_mean'],ascending=False)#.sort_values('rating_mean',ascending=False)

,rating_mean,rating_std,price_mean,price_std,listprice_mean,listprice_std,items,%count
brand,,,,,,,,
OEM,3.65,1.67,309656.21,680343.81,526430.18,966385.54,1116,25.54
Samsung,3.57,2.04,7907502.29,7678478.64,12458827.14,13836571.24,199,4.55
Panasonic,3.33,2.06,2670042.71,4132956.61,3571696.88,5868766.66,96,2.20
Sony,3.76,1.86,9944817.89,10915686.51,13934115.79,15596207.98,95,2.17
LG,3.31,2.07,11629156.84,8469987.79,18466557.89,16126107.63,95,2.17
...,...,...,...,...,...,...,...,...
Vietstar,0.00,NaN,319000.00,NaN,609000.00,NaN,1,0.02
Vinago,0.00,NaN,1090000.00,NaN,1690000.00,NaN,1,0.02
WK,0.00,NaN,56906.00,NaN,300000.00,NaN,1,0.02
XOX,0.00,NaN,886000.00,NaN,1290000.00,NaN,1,0.02
ZIYOU LANG,0.00,NaN,650000.00,NaN,1250000.00,NaN,1,0.02

In [30]:
# 5 nhãn hàng có giá trung bình sản phẩm cao nhất
df_brand.sort_values('price_mean',ascending=False)[['price_mean','items']].head()

              price_mean  items
brand
Hitachi      20092000.00      8
Surface      18189000.00      1
Bosch        17926200.00      5
Black Shark  17290000.00      2
Apple        17122681.82     66

In [31]:
# 5 nhãn hàng có giá trung bình sản phẩm thấp nhất
df_brand.sort_values('price_mean')[['price_mean','items']].head()

           price_mean  items
brand
Razer         21200.0      2
Memo          24999.0      1
ICASE         25000.0      1
I-Telecom     30000.0      1
ITelecom      31000.0      1

In [32]:
# 5 nhãn hàng có nhiều sản phẩm bán trên tiki nhất
df_brand.sort_values('items',ascending=False)[['items','%count']].head()

           items  %count
brand
OEM         1116   25.54
Samsung      199    4.55
Panasonic     96    2.20
Sony          95    2.17
LG            95    2.17

### Reviews - brand

In [33]:
df.columns

Index(['customer', 'product', 'rating', 'name', 'price', 'brand', 'group'], dtype='object')

In [34]:
rv_brand = df.groupby('brand').agg({
    'rating':['mean','std'],
    'price':['mean','std','count']
}).round(2)
rv_brand.columns = ['rating_mean','rating_std','price_mean','price_std','customer']

rv_brand['%customer'] = round((rv_brand['customer']/rv_brand['customer'].sum())\
                              *100, 2)

In [35]:
# 5 thương hiệu được khách hàng đánh giá nhiều nhất
rv_brand.sort_values('customer',ascending=False).head()

          rating_mean  rating_std  price_mean   price_std  customer  %customer
brand
OEM              4.17        1.27   290609.06   351202.54     71521      19.89
Logitech         4.63        0.84   570855.47   612383.55     26748       7.44
Samsung          4.64        0.82  5383689.35  7480966.97     19245       5.35
Xiaomi           4.58        0.89  1435577.49  1830632.04     15898       4.42
Sony             4.60        0.81  3773832.00  6566357.01     10976       3.05

In [36]:
# 5 thương hiệu có giá trung bình được khách hàng chi tiền nhiều nhất (trung bình 1 khách hàng)
rv_brand.sort_values('price_mean',ascending=False).head()

,rating_mean,rating_std,price_mean,price_std,customer,%customer
brand,,,,,,
Bosch,4.44,1.09,29174237.29,4636213.23,59,0.02
Hitachi,4.80,0.71,25918148.15,12666279.27,54,0.02
Arber,5.00,0.00,19500000.00,0.00,2,0.00
Galanz,4.53,1.15,18914750.00,1551834.30,40,0.01
Black Shark,3.00,2.83,17790000.00,3959797.97,2,0.00

### Products - group

In [37]:
df_group = products.groupby('group').agg({
    'rating':['mean','std'],
    'price':['mean','std'],
    'list_price':['mean','std','count']
}).round(2)
df_group.columns = ['rating_mean','rating_std','price_mean','price_std',
                    'listprice_mean','listprice_std','items']

df_group['%count'] = round((df_group['items']/df_group['items'].sum())*100, 2)
df_group

,rating_mean,rating_std,price_mean,price_std,listprice_mean,listprice_std,items,%count
group,,,,,,,,
Hàng Quốc Tế/Laptop & Máy Vi Tính/Linh kiện máy tính,4.55,0.07,516500.00,86974.13,1008000.00,138592.93,2,0.05
Hàng Quốc Tế/Laptop & Máy Vi Tính/Màn hình máy tính,4.70,0.00,330000.00,311126.98,555500.00,608818.94,2,0.05
Hàng Quốc Tế/Máy Ảnh - Máy Quay Phim/Phụ kiện máy ảnh,4.70,NaN,393000.00,NaN,473000.00,NaN,1,0.02
Laptop - Máy Vi Tính - Linh kiện/Laptop/Laptop 2 trong 1,2.50,3.54,20844500.00,3755444.11,25945000.00,9963134.55,2,0.05
Laptop - Máy Vi Tính - Linh kiện/Laptop/Laptop Gaming,4.00,NaN,17339000.00,NaN,18490000.00,NaN,1,0.02
...,...,...,...,...,...,...,...,...
"Điện Tử - Điện Lạnh/Âm thanh & Phụ kiện Tivi/Receivers, Amplifier, Mixer",3.88,1.59,1366027.79,952308.90,2312785.71,1991077.92,28,0.64
"Điện Tử - Điện Lạnh/Âm thanh & Phụ kiện Tivi/Đầu CD, DVD, karaoke, Blu-ray",4.30,NaN,479000.00,NaN,1100000.00,NaN,1,0.02
"Điện Tử - Điện Lạnh/Âm thanh & Phụ kiện Tivi/Đầu CD, DVD, karaoke, Blu-ray/Đầu ghi phát DVD, Blu-ray",4.25,0.07,1545000.00,855599.21,1840000.00,636396.10,2,0.05
"Điện Tử - Điện Lạnh/Âm thanh & Phụ kiện Tivi/Đầu CD, DVD, karaoke, Blu-ray/Đầu phát karaoke",5.00,NaN,425000.00,NaN,1150000.00,NaN,1,0.02
Đồng hồ và Trang sức/Trang sức/Vòng tay,1.00,NaN,579000.00,NaN,579000.00,NaN,1,0.02

In [38]:
# 5 nhóm sản phẩm được bán trên tiki nhiều nhất
df_group.sort_values('items',ascending=False)[['items','%count']].head()

                                                    items  %count
group
Máy Ảnh - Máy Quay Phim/Camera Giám Sát/Camera IP     235    5.38
Điện Thoại - Máy Tính Bảng/Điện thoại Smartphone      122    2.79
Điện Tử - Điện Lạnh/Tủ lạnh                           121    2.77
Điện Thoại - Máy Tính Bảng/Điện thoại phổ thông       111    2.54
Máy Ảnh - Máy Quay Phim/Phụ Kiện Máy Ảnh, Máy Q...     94    2.15

In [39]:
# 5 nhóm sản phẩm có giá trung bình cao nhất
df_group.sort_values('price_mean',ascending=False)[['price_mean','items']].head()

                                                     price_mean  items
group
Điện Tử - Điện Lạnh/Tivi/Tivi OLED                  32184500.00      4
Laptop - Máy Vi Tính - Linh kiện/Laptop/Macbook     26635375.00      8
Máy Ảnh - Máy Quay Phim/Máy Ảnh/Máy Ảnh DSLR        24458571.43      7
Máy Ảnh - Máy Quay Phim/Máy Ảnh/Máy Ảnh Mirrorless  22875652.17     23
Laptop - Máy Vi Tính - Linh kiện/Laptop/Laptop ...  20844500.00      2

In [40]:
# 5 nhóm sản phẩm có giá trung bình thấp nhất
df_group.sort_values('price_mean')[['price_mean','items']].head()

                                                    price_mean  items
group
Thiết Bị Số - Phụ Kiện Số/Phụ Kiện Điện Thoại v...      9000.0      1
Thiết Bị Số - Phụ Kiện Số/Phụ Kiện Điện Thoại v...     15900.0      2
Thiết Bị Số - Phụ Kiện Số/Phụ kiện máy tính và ...     15950.0      2
Thiết Bị Số - Phụ Kiện Số/Phụ Kiện Điện Thoại v...     19500.0      2
Thiết Bị Số - Phụ Kiện Số/Phụ Kiện Điện Thoại v...     22000.0      1

### Reviews - group

In [41]:
rv_group = df.groupby('group').agg({
    'rating':['mean','std'],
    'price':['mean','std','count']
}).round(2)
rv_group.columns = ['rating_mean','rating_std','price_mean','price_std','customer']

rv_group['%customer'] = round((rv_group['customer']/rv_group['customer'].sum())\
                              *100, 2)

In [42]:
# 5 nhóm sản phẩm có khách hàng đánh giá nhiều nhất
rv_group.sort_values('customer',ascending=False).head()

,rating_mean,rating_std,price_mean,price_std,customer,%customer
group,,,,,,
Thiết Bị Số - Phụ Kiện Số/Phụ kiện máy tính và Laptop/Phụ Kiện Phím Chuột Văn Phòng/Chuột Văn Phòng/Chuột Văn Phòng Không Dây,4.58,0.91,486194.44,465874.85,20099,5.59
Thiết Bị Số - Phụ Kiện Số/Thiết Bị Âm Thanh và Phụ Kiện/Tai Nghe Có Dây/Tai Nghe Có Dây Nhét Tai,4.44,1.02,346424.76,308074.64,19750,5.49
Điện Thoại - Máy Tính Bảng/Điện thoại Smartphone,4.68,0.78,8877408.22,9244065.70,17216,4.79
Thiết Bị Số - Phụ Kiện Số/Thiết Bị Âm Thanh và Phụ Kiện/Tai Nghe Bluetooth/Tai Nghe True Wireless,4.42,1.06,2098291.28,2544675.05,15030,4.18
Máy Ảnh - Máy Quay Phim/Camera Giám Sát/Camera IP,4.22,1.22,1068670.75,526022.88,13509,3.76

In [43]:
# 5 nhóm sản phẩm có khách hàng đánh giá cao nhất
rv_group.sort_values('rating_mean',ascending=False)[['rating_mean','customer','%customer']].head()

,rating_mean,customer,%customer
group,,,
Laptop - Máy Vi Tính - Linh kiện/Thiết Bị Văn Phòng - Thiết Bị Ngoại Vi/Máy Chấm Công,5.00,3,0.00
Laptop - Máy Vi Tính - Linh kiện/Laptop/Laptop 2 trong 1,5.00,4,0.00
Thiết Bị Số - Phụ Kiện Số/Thiết Bị Chơi Game và Phụ Kiện/Máy Chơi Game - Console/Nintendo,4.89,9,0.00
Thiết Bị Số - Phụ Kiện Số/Phụ Kiện Điện Thoại và Máy Tính Bảng/Bàn Phím Rời - Bút Cảm Ứng/Bàn Phím Rời - Ốp Tích Hợp Bàn Phím,4.88,140,0.04
Điện Tử - Điện Lạnh/Âm thanh & Phụ kiện Tivi/Phụ kiện Tivi/Cáp Tivi,4.86,7,0.00

In [44]:
# 5 nhóm sản phẩm có khách hàng đánh giá thấp nhất
rv_group.sort_values('rating_mean')[['rating_mean','customer','%customer']].head()

,rating_mean,customer,%customer
group,,,
Đồng hồ và Trang sức/Trang sức/Vòng tay,1.00,1,0.00
"Điện Tử - Điện Lạnh/Âm thanh & Phụ kiện Tivi/Đầu CD, DVD, karaoke, Blu-ray/Đầu phát karaoke",3.00,5,0.00
Thiết Bị Số - Phụ Kiện Số/Phụ kiện máy tính và Laptop/Các Loại Cáp Chuyển Đổi,3.40,85,0.02
"Điện Tử - Điện Lạnh/Phụ kiện điện lạnh/Phụ kiện, linh kiện tủ lạnh",3.68,37,0.01
Điện Tử - Điện Lạnh/Âm thanh & Phụ kiện Tivi/Phụ kiện Tivi/Đầu thu kỹ thuật số,3.70,30,0.01

# Đánh giá tổng thể
- 5 thương hiệu có nhiều sản phẩm bán trên tiki và được khách hàng đánh giá nhiều nhất:
    - OEM
    - Samsung
    - Sony
    - Apple
    - TP-Link
- Khách hàng có xu hướng đánh giá sản phẩm tốt
- 5 nhóm sản phẩm khách hàng đánh giá nhiều nhất:
    - Phụ kiện máy tính
    - Thiết bị âm thanh có dây
    - Điện thoại, máy tính bảng
    - Thiết bị âm thanh không dây
    - Máy ảnh